@model MovieDetails

<!DOCTYPE html>
<html>
<head>
    <title>@Model.Title</title>
</head>
<body>
    <h2>@Model.Title</h2>
    <br />

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <img src="@Model.Poster" style="height:450px;width:300px;border:thick" alt="@Model.Title Poster" />
            </div>
            <div class="col-md-8">
                <p><strong>Year:</strong> @Model.Year</p>
                <p><strong>Rated:</strong> @Model.Rated</p>
                <p><strong>Released:</strong> @Model.Released</p>
                <p><strong>Runtime:</strong> @Model.Runtime</p>
                <p><strong>Genre:</strong> @Model.Genre</p>
                <p><strong>Director:</strong> @Model.Director</p>
                <p><strong>Writer:</strong> @Model.Writer</p>
                <p><strong>Actors:</strong> @Model.Actors</p>
                <p><strong>Plot:</strong> @Model.Plot</p>
                <p><strong>Language:</strong> @Model.Language</p>
                <p><strong>Country:</strong> @Model.Country</p>
                <p><strong>Awards:</strong> @Model.Awards</p>
            </div>
        </div>
    </div>
    <br />
    <h4>Ratings</h4>
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                @foreach (var rating in Model.Ratings)
                {
                    <p><strong>@rating.Source:</strong> @rating.Value</p>
                }

                <p><strong>Metascore:</strong> @Model.Metascore</p>
                <p><strong>IMDb Rating:</strong> @Model.ImdbRating</p>
                <p><strong>IMDb Votes:</strong> @Model.ImdbVotes</p>
                <p><strong>IMDb ID:</strong> @Model.ImdbID</p>
            </div>
            <div class="col-md-6">
                <p><strong>Type:</strong> @Model.Type</p>
                <p><strong>DVD:</strong> @Model.DVD</p>
                <p><strong>Box Office:</strong> @Model.BoxOffice</p>
                <p><strong>Production:</strong> @Model.Production</p>
                <p><strong>Website:</strong> @Model.Website</p>
                <p><strong>Response:</strong> @Model.Response</p>
            </div>
        </div>
    </div>
    <div class="input-group">
        <form asp-action="SaveMovie" asp-route-imdbID="@Model.ImdbID" method="post">
            <button id="btnSaveDetails" class="btn btn-outline-secondary btn-clr text-clr" type="submit">Save Movie</button>
        </form> &nbsp;&nbsp;&nbsp;
        <form asp-action="DeleteMovie" asp-route-imdbID="@Model.ImdbID" method="post">
            <button id="btnDeleteMovie" class="btn btn-danger" type="submit">Delete Movie</button>
        </form>
    </div>
</body>
</html>
